@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  border: 5px solid #222;
  width: 500px;
  margin: 40px;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  display: block;
}

.profile-info {
  padding: 32px;
}

h1 {
  margin-bottom: 12px;
}
p {
  line-height: 1.5;
  font-size: 18px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 15px;
}

.skill {
  padding: 2px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}
